.bgr img{
    width: 1525px;
    height: 700px;
    opacity: 10%;
}
.pg3 img{
width: 1525px;
    height: 700px;
    opacity: 10%;
    margin-top: 92px;
}
.bgr h2{
    margin-top: -690px;
    font-size: 100px;
    position: relative;
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    z-index:    1;
    margin-left: 50px;
}
.firstbtn button{
    position: absolute;
    z-index:    1;
    margin-left: 1300px;
    margin-top: -157px;
    background-color: red;
    border: 0px;
    border-radius: 12px;
    cursor: pointer;
    height: 50px;
    width: 200px;
    font-size: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    text-shadow:  0 0 6px rgba(255, 0, 0, 0.8);
}

.firstbtn button:hover{
    background-color: white;
    color: red;
}
.big-container{
    display: flex;
    position: relative;
    z-index: 1;
    height: 700px;
    justify-content: center;
    text-align: center;
    margin-top: -50px;
    
}
.left{
    height: 410px;
    transition: all 0.3s ease;
    border: 2px solid black;
    width: 450px;
    background-color: rgba(255, 0, 0, 0.3);
    backdrop-filter: blur(3px); 
  -webkit-backdrop-filter: blur(3px);
    overflow: hidden;
}
.left:hover,
.right:hover
{
    height: 500px;
     box-shadow:0 8px 10px rgba(0, 0, 0, 0.7);
    opacity: 100%;
}
.right{
   height: 410px;
   border: 2px solid black;
    transition: all 0.3s ease;
    width: 450px;
    background-color: rgba(255, 0, 0, 0.3);
    margin-left: 100px;
    backdrop-filter: blur(3px); 
    overflow: hidden;
  -webkit-backdrop-filter: blur(3px);
}
.left img,
.right img{
    height: 300px;
    width: 300px;
}

.left h2,
.right h2 {
  color: red;
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  font-size: 50px;
  text-align: left;
   transition: opacity 0.3s ease;
  opacity:100;
  margin-top: -30px;
  margin-left: 20px;
}

.left h4{
    font-size: 20px;
text-align: left;
opacity: 0;
 transition: opacity 0.3s ease;
  margin-top: 80px;
  margin-left: 20px;
  margin-bottom: -12px;
  cursor: pointer;
}
.right h4{
font-size: 20px;
text-align: left;
 transition: opacity 0.3s ease;
  margin-top: -30px;
  opacity: 0;
  margin-left: 20px;
  cursor: pointer;
  margin-bottom: -12px;
}
.left 
.mt{
    height: 30px;
    width: 30px;
    opacity: 0;
     transition: opacity 0.3s ease;
    margin-top: -100px;
    cursor: pointer;
}
.right
.mt{
    height: 30px;
    width: 30px;
    opacity: 0;
     margin-top: -100px;
      transition: opacity 0.3s ease;
     cursor: pointer;
}

.left:hover h4,
.left:hover .mt {
  opacity: 1;
}

.right:hover h2,
.right:hover h4,
.right:hover .mt {
  opacity: 1;
}

.bigger-container img{
    width: 1536px;
    height: 700px;
    opacity: 0.1;
    margin-top: -180px;
    position: absolute;
     object-fit: cover;
     position: relative;
z-index: 0;
}
.leftbigcontainer{
    background-color: rgba(255, 0, 0, 0.389);
    margin-left: 70px;
     margin-top: -700px;
    backdrop-filter: blur(5px); 
    z-index: 1;
    position:sticky;
    border: 2px solid black;
    width: 500px;
    height: 600px;
  -webkit-backdrop-filter: blur(5px);
}
.item11 img{
    height: 400px;
    margin-top: 20px;
    margin-left: 50px;
    opacity: 100%;
    width: 400px;
}
.stars img{
    height: 30px;
    width: 30px;
    opacity: 100%;
}
.leftbigcontainer h6{
    font-size: 20px;
    margin-left: 20px;
}
.leftbigcontainer h5{
    font-size: 20px;
    padding-left: 350px;
    margin-top: -75px;
}
.leftbigcontainer p{
    font-size: 14px;
    margin-left: 20px;
    width: 500px;
    margin-top: -30px;
}
.leftbigcontainer h4{
    font-size: 20px;
    margin-left: 5px;
    color: red;
    width: 200px;
    margin-top: 0px;
    padding-left: 5px;
    cursor: pointer;
    padding-bottom: 5px;
    transition: all 0.1s ease-in;
    background-color: transparent;
    border-radius: 12px;
}
.leftbigcontainer h4:hover{
    color: rgb(249, 249, 249);
}
.stars{
    padding-left: 300px;
    margin-top: -45px;
}
.Upper{
     margin-top: -600px;
     z-index: 1;
     display: flex;
     gap: 50px;
     position:absolute;
     margin-left: 630px;
}

.lower{
    margin-top: -287px;
     display: flex;
     position:absolute;
      z-index: 1;
      gap: 50px;
      margin-left: 630px;
}
.smallcontainer{
    background-color: rgba(255, 0, 0, 0.389);
    backdrop-filter: blur(5px); 
    width: 350px;
    border: 2px solid black;
    height: 280px;
  -webkit-backdrop-filter: blur(5px);

}
.smallcontainer img{
    height: 150px;
    margin-top: 20px;
    margin-left:100px;
    opacity: 100%;
    width: 150px;
}

.smallcontainer h6{
    font-size: 15px;
    margin-left: 5px;
    margin-top: 10px;
}
.smallcontainer h5{
    font-size: 15px;
    padding-left: 240px;
    margin-top: -55px;
}
.smallcontainer p{
    font-size: 10px;
    margin-left: 5px;
    width: 340px;
    margin-top: -20px;
}
.smallcontainer h4{
    font-size: 10px;
    margin-left: -7px;
    color: red;
    width: 100px;
    margin-top: 0px;
    padding-left: 5px;
    cursor: pointer;
    padding-bottom: 5px;
    padding-top: 5px;
    transition: all 0.1s ease-in;
   
    
    border-radius: 12px;
}
.smallcontainer h4:hover{ 
    color: rgb(249, 249, 249);  
}
.starsmallu img{
   height: 20px;
    width: 20px;
    margin-left: 5px;
    padding-left: 3px;
    opacity: 100%;
}
.starsmallu{
    margin-top: -57px;
    display: flex;
    padding-left: 200px;
}
.starsmall{
    margin-top: -57px;
    display: flex;
    padding-left: 200px;
}
.starsmall img{
    height: 20px;
    width: 20px;
    margin-left: 5px;
    padding-left: 3px;
    opacity: 100%;
}
.up {
    display: flex;
    gap: 24px;
    margin-left: 24px;
    margin-top: -700px;
}
.down{
    display: flex;
    gap: 24px;
    margin-left: 24px;
    margin-top: 40px;
}
#jo{
    margin-top: -650px;
}
#fi{
  margin-top: 90px; 
  width: 1525px;
}
.last img{
    width: 1525px;
    height: 700px;
    opacity: 50%;
    margin-top: 40px;
    filter: blur(1px);
}
#cl{
    margin-top: -50px;
}
#ca{
    margin-top: -650px;
}
.last h1{
    z-index: 1;
    position: relative;
    font-size: 70px;
    opacity: 100%;
    margin-top: -500px;
    margin-bottom: 480px;
    padding-left: 200px;
}
.lastbtn{
     z-index: 1;
     height: 30px;
     width: 300px;
    position: relative;
    margin-left: 200px;
     margin-top: -450px;
     margin-bottom: 400px;
}
.lastbtn button{
font-size: 40px;
padding: 10px 10px;
background-color: red;
width: 290px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
font-weight: 600;
border: 2px solid red;
cursor: pointer;
border-radius: 12px;
color: white;
}